Source: ros-humble-ros2-medkit-linux-introspection
Section: misc
Priority: optional
Maintainer: bburda <bartoszburda93@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libcpp-httplib-dev, libssl-dev, libsystemd-dev, nlohmann-json3-dev, ros-humble-ament-cmake, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ros2-medkit-cmake, ros-humble-ros2-medkit-gateway, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-ros2-medkit-linux-introspection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcpp-httplib-dev, libssl-dev, libsystemd-dev, nlohmann-json3-dev, ros-humble-ros2-medkit-gateway, ros-humble-ros-workspace
Description: Linux introspection plugins for ros2_medkit gateway - procfs, systemd, and container
